.layout-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 0 10px;
  background: #333;
  color: #fff;
  a {
    padding: 5px 10px;
    margin-left: 10px;
    color: #fff;
  }
}